[submodule "SparkEngine/vendor/spdlog"]
	path = SparkEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "SparkEngine/vendor/GLFW"]
	path = SparkEngine/vendor/GLFW
	url = https://github.com/Madspark-Studios/glfwForSparkEngine
[submodule "SparkEngine/vendor/imgui"]
	path = SparkEngine/vendor/imgui
	url = https://github.com/Madspark-Studios/imguiForSparkEngine
[submodule "SparkEngine/vendor/glm"]
	path = SparkEngine/vendor/glm
	url = https://github.com/g-truc/glm
